*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store
/Manifest.toml
/dev/
/docs/build/
/docs/site/

/problems/ps1/Bortoff_01.aux
/problems/ps1/Bortoff_01.log
/problems/ps1/Bortoff_01.out
/problems/ps1/Bortoff_01.synctex.gz
